body{
    font-family: cursive !important;
    text-align: center;
    padding-top: 180px;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000e8;
    color: white;
    top: 0;
    left: 0;
    padding-top: 250px;
}

.h2{
    font-size: xx-large;
    color: #FFC000;  
}

.h3{
    color: #FFC000;
}

.btnEnd{
    top: 5%;
    position: absolute;
    color: white;
    background-color: #FFC000;
    border-radius: 5%;
    border: none;
    font-family: cursive !important;

}

.btnDisp{
    background-color: #E01E4C;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 1%;
    margin: 1%;
    font-family: cursive !important;

}

input{
    padding: 1%;
    box-shadow: 0px 0px 4px #37363663;
    border-radius: 5%;
    font-family: cursive !important;
}
