<body>

<label>origin</label><br>
<input type="text"  [(ngModel)]="source" aria-describedby="basic-addon1">
<br>
<label>destination</label><br>
<input type="text"  [(ngModel)]="destination" aria-describedby="basic-addon1">
<br>
<button class="btnDisp" (click)="displayDistance()">Dispaly distance</button>
<button class="btnDisp" (click)="getPopularsearch()">Dispaly popular distance</button>
<button class="btnDisp" (click)="getPopularsearchList()">Dispaly list popular distance</button>



<span *ngIf="showResDistance" class="background">
    <button  class="btnEnd" (click)="showResDistance=false" >Close</button>
    <span class="h1">The distance</span><br>
    <span class="h2">{{distance}}</span>
    <br>
</span>


<span *ngIf="showResPopular" class="background">
    <button class="btnEnd" (click)="showResPopular=false" >Close</button>
    <span class="h1">The papular distance</span> <br>
    <span class="h2">{{popularDistance.cnt}}</span> requests <br>
    <span class="h3">{{popularDistance.source}} | {{popularDistance.destination}}</span>
    <br>
</span>

<span *ngIf="showResPopularList" class="background">
        <button class="btnEnd" (click)="showResPopularList=false" >Close</button>
        <span class="h2">list of most popular distances:</span ><br>
        <div *ngFor="let i of popularDistanceList">
                <span>origin: {{i.source}}</span>&nbsp;
                <span>destination: {{i.destination}}</span>&nbsp;
                <span>{{i.cnt}} requests</span>&nbsp;
        </div>
        <br>
    </span>
</body>